pipeline/pl_full_load_child.json
{
	"name": "pl_full_load_child",
	"properties": {
		"activities": [
			{
				"name": "CopyToRaw",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@item().sourceScript",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_sqldb_source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_destination",
						"type": "DatasetReference",
						"parameters": {
							"pContainer": {
								"value": "@item().destinationContainer",
								"type": "Expression"
							},
							"pFolder": {
								"value": "@concat(\n    item().destinationFolder,\n    '\\',\n    formatDateTime(utcnow(), 'yyyy-MM-dd'))",
								"type": "Expression"
							},
							"pFile": {
								"value": "@item().destinationFile",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "UpdateWatermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyToRaw",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_update_watermark]",
					"storedProcedureParameters": {
						"TableName": {
							"value": {
								"value": "@item().sourceTable",
								"type": "Expression"
							},
							"type": "String"
						},
						"Updated": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sqldb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "UpdateLogTable",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "UpdateWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_update_log_table]",
					"storedProcedureParameters": {
						"billing_Reference_activity_Type": {
							"value": {
								"value": "@activity('CopyToRaw').output.billingReference.activityType",
								"type": "Expression"
							},
							"type": "String"
						},
						"dataFactory": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"destinationFile": {
							"value": {
								"value": "@item().destinationFile",
								"type": "Expression"
							},
							"type": "String"
						},
						"destinationFolder": {
							"value": {
								"value": "@item().destinationFolder",
								"type": "Expression"
							},
							"type": "String"
						},
						"effective_Integration_Runtime": {
							"value": {
								"value": "@activity('CopyToRaw').output.effectiveIntegrationRuntime",
								"type": "Expression"
							},
							"type": "String"
						},
						"errors": {
							"value": {
								"value": "@activity('CopyToRaw').output.errors",
								"type": "Expression"
							},
							"type": "String"
						},
						"execution_Details_sink_type": {
							"value": {
								"value": "@activity('CopyToRaw').output.executionDetails[0].sink.type",
								"type": "Expression"
							},
							"type": "String"
						},
						"execution_Details_source_type": {
							"value": {
								"value": "@activity('CopyToRaw').output.executionDetails[0].source.type",
								"type": "Expression"
							},
							"type": "String"
						},
						"execution_Details_status": {
							"value": {
								"value": "@activity('CopyToRaw').output.executionDetails[0].status",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"rowsCopied": {
							"value": {
								"value": "@activity('CopyToRaw').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"rowsRead": {
							"value": {
								"value": "@activity('CopyToRaw').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"sourceTable": {
							"value": {
								"value": "@item().sourceTable",
								"type": "Expression"
							},
							"type": "String"
						},
						"throughPut": {
							"value": {
								"value": "@activity('CopyToRaw').output.throughput",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"triggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"triggerTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"triggerType": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "String"
						},
						"used_Data_Integration_Units": {
							"value": {
								"value": "@activity('CopyToRaw').output.usedDataIntegrationUnits",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sqldb",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}