pipeline/pl_incremental_load_parent.json
{
	"name": "pl_incremental_load_parent",
	"properties": {
		"activities": [
			{
				"name": "LookupExsitingWatermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM config.tbl_newdatasource\nWHERE isIncremental = 1",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqldb_source",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachMetadata",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupExsitingWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupExsitingWatermark').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "ExecuteIncrementalChild",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_incremental_load_child",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"pTable": {
										"value": "@item().sourceTable",
										"type": "Expression"
									},
									"pWatermarkCol": {
										"value": "@item().watermarkColumn",
										"type": "Expression"
									},
									"pSchema": {
										"value": "@item().sourceSchema",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "UpdateLogTable",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "ExecuteIncrementalChild",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_update_log_table]",
								"storedProcedureParameters": {
									"billing_Reference_activity_Type": {
										"value": {
											"value": "@activity('CopyToRaw').output.billingReference.activityType",
											"type": "Expression"
										},
										"type": "String"
									},
									"dataFactory": {
										"value": {
											"value": "@pipeline().DataFactory",
											"type": "Expression"
										},
										"type": "String"
									},
									"destinationFile": {
										"value": {
											"value": "@item().destinationFile",
											"type": "Expression"
										},
										"type": "String"
									},
									"destinationFolder": {
										"value": {
											"value": "@item().destinationFolder",
											"type": "Expression"
										},
										"type": "String"
									},
									"effective_Integration_Runtime": {
										"value": {
											"value": "@activity('CopyToRaw').output.effectiveIntegrationRuntime",
											"type": "Expression"
										},
										"type": "String"
									},
									"errors": {
										"value": {
											"value": "@activity('CopyToRaw').output.errors",
											"type": "Expression"
										},
										"type": "String"
									},
									"execution_Details_sink_type": {
										"value": {
											"value": "@activity('CopyToRaw').output.executionDetails[0].sink.type",
											"type": "Expression"
										},
										"type": "String"
									},
									"execution_Details_source_type": {
										"value": {
											"value": "@activity('CopyToRaw').output.executionDetails[0].source.type",
											"type": "Expression"
										},
										"type": "String"
									},
									"execution_Details_status": {
										"value": {
											"value": "@activity('CopyToRaw').output.executionDetails[0].status",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipelineRunId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"rowsCopied": {
										"value": {
											"value": "@activity('CopyToRaw').output.rowsCopied",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"rowsRead": {
										"value": {
											"value": "@activity('CopyToRaw').output.rowsRead",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"sourceTable": {
										"value": {
											"value": "@item().sourceTable",
											"type": "Expression"
										},
										"type": "String"
									},
									"throughPut": {
										"value": {
											"value": "@activity('CopyToRaw').output.throughput",
											"type": "Expression"
										},
										"type": "Decimal"
									},
									"triggerName": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "String"
									},
									"triggerTime": {
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"triggerType": {
										"value": {
											"value": "@pipeline().TriggerType",
											"type": "Expression"
										},
										"type": "String"
									},
									"used_Data_Integration_Units": {
										"value": {
											"value": "@activity('CopyToRaw').output.usedDataIntegrationUnits",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_sqldb",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}